;
; Andresco Authentication Configuration File
;
; Part of the Andresco Project
; http://code.google.com/p/andresco
; 
; This file needs to be configured and placed in your Alfresco home directory
; and NOT where auth.php is located (for security). You'll need to adjust auth.php
; to point to the relevant location of this file.
;  

; Base URL of your Alfresco installation including relevant protocol/ports
base_url=http://localhost

; Username used to login and generate authentication ticket
username=admin

; Password for username used to login and generate authentication ticket
password=alfresco

; Allowed Moodle Hosts (full URLs, comma separated list)
allowed_hosts=http://moodle.yoursite.com